body {
  font-family: sans-serif;
  top: 0px;
  background-color: #0c1223;
}

.cardContainer {
	top: 10%;
	position: absolute !important;
	height: 80% !important;
}

.hiddenCard {
	visibility: hidden;
}

.productCard {
	height: 70% !important;
}

img {
  display: block;
  width: 80%;
  height: auto;
  align-content: center;
}

#likeButton {
	background-color: #fa80ac;
	color: #ffffff;
}

#dislikeButton {
	background-color: #7a58ef;
	color: #ffffff;
}